################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SimpleWinForms/.vs/SimpleWinForms/v16
/SimpleWinForms/bin/Debug/netcoreapp3.0
/SimpleWinForms/obj
/SimpleWinForms/SimpleWinForms.csproj.user
